/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 2, 2016, 7:03:52 PM
    Author     : Z
*/

div {
    border: 1px solid blue;
}

img {
    width: 150px;
}